<body>
        <h1 class="title-agile text-center"></h1>
    
        <div class="content-w3ls">
            <div class="content-top-agile">
                <h2>sign in</h2>
            </div>
            
            <div class="content-bottom">
                    
                    <!-- [formGroup]="registerForm" -->
                <form action="#" method="post" #registerForm="ngForm">
                    <p>Enter your registered email below to recover your password</p>
                        <div id="resgiter-error-msg" class="err-msg">
                                {{message}}
                         </div>
    
                        <div class="field-group">
                            <span class="fa fa-lock" aria-hidden="true"></span>
                            <div class="wthree-field">
                                <input [(ngModel)]="email" name="email" #Email="ngModel" id="email" type="email" placeholder="Email"  required pattern="[a-z0-9._-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                            </div>
                        </div>
        
                        <div *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="alert alert-danger validation-err"  >
                            <div *ngIf="Email.errors.required">
                                * Email is required.
                            </div>
                            <div *ngIf="Email.errors.pattern">
                                * Not a valid email
                            </div>
        
                        </div>
    
                    <div class="wthree-field">
                        <input [disabled]="registerForm.invalid" id="saveForm" style="margin-top: 20px;" (click)="submit()" name="saveForm" type="submit" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
        
    </body>