<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      <app-sub-post *ngFor="let post of postList" [post]="post" [isUser]="isUser" (delete)="delete($event)"></app-sub-post>
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-left" *ngIf="page!=1" (click)="newerPost()">&larr; Newer Posts</a>
        <a class="btn btn-primary float-right" *ngIf="postList.length == 10" (click)="olderPost()">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>

<hr>