  <!-- Page Header -->
  <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{postDetail.title}}</h1>
            <h2 class="subheading">{{postDetail?.subTitle}}</h2>
            <span class="meta">By
              <a >{{postDetail?.author?.name}}</a>
              on {{formatService.formatDate(postDetail?.createdAt)}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="col-lg-7 col-md-10 mx-auto post-info">
    <h3 class="title-small">{{postDetail?.title}}</h3>
    <small><a href="" [routerLink]="['/main/category/' + postDetail?.category?.ID]" [queryParams]="{topic: postDetail?.category?.category}">Topic: {{postDetail?.category?.category}}</a></small>
    <div>
        <small>Author: </small>
        <div class="photo" >
            <img src="{{postDetail?.author?.profilePicture}}" style="width: 4.5rem; height: 5rem;" class="photo" alt="">
            <span><a [routerLink]='["/main/profile/",postDetail?.authorID]'>{{postDetail?.author?.name}}</a></span>
        </div>
        
    </div>
    
  </div>

  <div class="col-lg-7 col-md-10 mx-auto sharing-block">
    <!-- Social Button HTML -->
    <p class="sharing-text">Share this to your social media:</p>
    
    <!-- Twitter -->
    <a href="https://twitter.com/intent/tweet?text={{postDetail?.title}}&url=" target="_blank" class="share-btn twitter" (click)="share('https://twitter.com/intent/tweet?url=')">
      <i class="fa fa-twitter"></i>
    </a>


    <!-- Google Plus -->
    <a href="https://plus.google.com/share?url=" target="_blank" class="share-btn google-plus" (click)="share('https://plus.google.com/share?url=')">
      <i class="fa fa-google-plus"></i>
    </a>

    <!-- Facebook -->
    <a href="https://www.facebook.com/sharer/sharer.php?u=&t=" title="Share on Facebook"  target="_blank" class="share-btn facebook" (click)="share('https://www.facebook.com/sharer/sharer.php?u=')">
      <i class="fa fa-facebook"></i>
    </a>


    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?url={{url}}&title={{postDetail.title}}&source={{url}}" target="_blank" class="share-btn linkedin">
      <i class="fa fa-linkedin"></i>
    </a>

  </div>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-10 mx-auto" id="display"></div>
      </div>
    </div>
  </article>
  
  <app-comment [postDetail]="postDetail" [comments]="comments"></app-comment>
  <hr>

