<!-- Page Header -->
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Clean Blog</h1>
          <span class="subheading">A Blog Theme by Start Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h2 class="message" *ngIf="numberResults">Matching results for "{{query}}"</h2>
      <h2 class="message" *ngIf="!numberResults">Ooops, There is no matching results for "{{query}}"</h2>
      <app-bref-post *ngFor="let post of postList" [post]="post" [routerLink]="['/main/post/' + post.ID]"></app-bref-post>
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-left" [routerLink]="['/main/search']" [queryParams]="{page: page - 1}" queryParamsHandling="merge"
          *ngIf="page!=1">&larr; Newer Posts</a>
        <a class="btn btn-primary float-right" [routerLink]="['/main/search']" [queryParams]="{page: page - -1}" queryParamsHandling="merge"
          *ngIf="postList.length == 10">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>

<hr>