<div style="width: 286px;">
  <div style="width:100%;height:110px;background: red; text-align: center">
    <i class="material-icons" style="font-size: 100px; color: white; top: 7%; position: relative;">cancel</i>
  </div>
  <div class="body" style="text-align: center;padding: 10px;background-color: white;">
    <div><strong>Oh Snap</strong></div>
    <div>{{data? data: "Change a few things up and try submitting again"}}</div>
    <button style="margin-top: 20px" (click)="dialogRef.close()" class="btn btn-danger">close</button>
  </div>
</div>