<div class="comments" >
		<div class="comment-wrap">
				<div class="comment-block">
						<form action="" #commentForm="ngForm">
								<textarea name="comment-box" id="comment-box" [(ngModel)]="content" cols="30" rows="3" placeholder="Add comment..."></textarea>
						</form>
						<button type="button" class="btn btn-primary pull-right" style="padding: 10px; font-size: 0.7em;" (click)="submit(); commentForm.reset();">Submit</button>
				</div>
		</div>
		<div class="comment-details">
				<app-comment-detail *ngFor="let comment of comments" [comment]="comment"></app-comment-detail>
		</div>
		
</div>