  <!-- Page Header -->
  <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{postDetail?.title}}</h1>
            <h2 class="subheading">{{postDetail?.subTitle}}</h2>
            <span class="meta">Posted by
              <a>{{postDetail?.author?.name}}</a>
              on {{formatService.formatDate(postDetail?.createdAt)}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <div class="col-lg-7 col-md-10 mx-auto">
    <h3 class="title-small">{{postDetail?.title}}</h3>
    <small class="category"><a href="" [routerLink]="['/main/category/' + postDetail?.category?.ID]" [queryParams]="{topic: postDetail?.category?.category}">{{postDetail?.category?.category}}</a></small>
  </div>


  <div class="col-lg-7 col-md-10 mx-auto sharing-block">
    <!-- Social Button HTML -->
    <p class="sharing-text">Share this to your social media:</p>
    
    <!-- Twitter -->
    <a href="" target="_blank" class="share-btn twitter" >
      <i class="fa fa-twitter"></i>
    </a>


    <!-- Google Plus -->
    <a href="" target="_blank" class="share-btn google-plus">
      <i class="fa fa-google-plus"></i>
    </a>

    <!-- Facebook -->
    <a href="" title="Share on Facebook"  target="_blank" class="share-btn facebook" >
      <i class="fa fa-facebook"></i>
    </a>


    <!-- LinkedIn -->
    <a href="" target="_blank" class="share-btn linkedin">
      <i class="fa fa-linkedin"></i>
    </a>

  </div>


  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" id="display"></div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <button class="btn btn-primary" [routerLink]='["/main/edit-post/" + id]'>Back</button>
          <button style="float:right" class="btn btn-primary" (click)="post()">Submit</button>
        </div>
      </div>
    </div>
    
  </article>

  <hr>

