 .card {
    margin-top: 0;
    padding: 0;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 300px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    /* width: 100px;
    height: 100px; */
    width: 180px;
    height: 180px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
    transform: translateX(0%) translateY(30%);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}  
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.btn {
    padding: 15px 19px;
    letter-spacing: 0;
}

.image-upload {
    position: absolute;
    max-width: 180px;
    height: 180px;
    border: 5px solid rgba(255, 255, 255, 0.5);
    -webkit-transform: translateX(64%) translateY(38%);
    transform: translateX(-100%) translateY(30%);
    opacity: 0;
    z-index: 2;
    border-radius: 0;
}
#nav-navi {
    display: flex;
    flex-direction: column;
}

.nav-tab {
    font-family: 'Libre Franklin', sans-serif;
    /* font-weight: 500; */
    /* padding: 20px; */
}
.body-container {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    #nav-navi {
        display: flex;
        flex-direction: row;
    }
    .nav-tab {
        font-size: 20px;
    }
    #main {
        font-size: 20px;
    }
    .body-container {
        margin-top: 0px;
    }
}
@media screen and (max-width: 480px) {
    .nav-tab{
        font-size: 20px;
    }
    #main {
        font-size: 20px;
    }
    #nav-navi {
        display: flex;
        flex-direction: row;
    }
    .body-container {
        margin-top: 0px;
    }
}

@media screen and (max-width: 414px) {
    .nav-tab{
        font-size: 20px;
    }
    #main {
        font-size: 20px;
    }
    #nav-navi {
        display: flex;
        flex-direction: row;
    }
    .body-container {
        margin-top: 0px;
    }
}

@media screen and (max-width: 384px) {
    .nav-tab{
        font-size: 13px;
    }
    #main {
        font-size: 13px;
    }
    #nav-navi {
        display: flex;
        flex-direction: row;
    }
    .body-container {
        margin-top: 0px;
    }
} 
.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: 40px 100px 40px; 
     */
     grid-template-rows: auto;
}
.header{
    grid-column: span 12;
}
.menu {
    grid-column: span 2;
}
.content {
    grid-column: span 10;
}
@media screen and (max-width: 767px) {
    .menu{
        grid-row: span 1;
        grid-column: span 12;
    }
    .content {
        grid-column: span 12;
    }
}
