<div class="col-lg-12 col-sm-12" style="padding: 0!important">
  <div class="card hovercard">
    <div class="card-background">
      <img class="card-bkimg" alt="" [src]="user.profilePicture">
      <!-- http://lorempixel.com/850/280/people/9/ -->
    </div>
    <div class="useravatar">
      <img alt="" [src]="user.profilePicture">
      <input type="file" *ngIf="isUser" (change)="onFileChange($event)" name="update" class="image-upload" #fileInput accept="image/*" />
    </div>
    
    <div class="card-info"> <span class="card-title">{{user?.name}}</span>

    </div>
  </div>
  <div class="container">
</div>
</div>

<div class="container wrapper" >
  <div class="menu">
      <ul id="nav-navi" class="nav nav-tabs tabs-left">
          <li class="nav-item"  [ngClass]="type == 1? 'btn-primary': 'btn-default'" (click)="type = 1" >
            <a class="nav-link nav-tab">Profile</a>
          </li>
          <li class="nav-item"  [ngClass]="type == 2? 'btn-primary': 'btn-default'" (click)="type = 2">
            <a class="nav-link nav-tab">Posts</a>
          </li>
          <li class="nav-item" *ngIf="isUser" [ngClass]="type == 3? 'btn-primary': 'btn-default'" (click)="type = 3">
            <a class="nav-link nav-tab">Password</a>
          </li>
        </ul>
  </div>
  <div class="content">
      <app-info *ngIf="type==1" [user]="user" [isUser]="isUser" (changeF)="post()"></app-info>
      <app-my-posts  *ngIf="type==2" [user]="user" [isUser]="isUser"></app-my-posts>
      <app-change-pass *ngIf="type==3" [user]="user" (changeF)="post()"></app-change-pass>
  </div>

</div>
