<div class=" col-md-6 col-lg-6">
  <div>
    <h3 style="font-weight: 100;">Change Password</h3>
  </div>
  <table class="table table-user-information">
    <tbody>
      <tr class="form-group">
        <td><label for="oldpassword">Password</label></td>
        <td><input id="oldpassword" class="form-control" [(ngModel)]="oldPass" name="oldpass" type="password"></td>
      </tr>
      <tr>
        <td>New Password</td>
        <td><input class="form-control" [(ngModel)]="pass" name="newpass" type="password"></td>
      </tr>
      <tr>
        <td>Confirm Password</td>
        <td><input class="form-control" [(ngModel)]="cfPass" name="cfnewpass" type="password"></td>
      </tr>
      <tr>
        <td></td>
        <td><button class="btn btn-primary" (click)="submit()">submit</button></td>
      </tr>
    </tbody>
  </table>

</div>