.title {
    margin-top: 10px;
}
.header {
    font-weight: 100;
    font-size: 25px;
}
input#saveForm:disabled,input#saveForm:disabled:hover {
    letter-spacing: 0px;
    opacity: 0.5;
    background-color: #007bff !important;
  }
.input-label {
      font-size: 17px;
  }
@media screen and (max-width: 990px) {
    
}
@media screen and (max-width: 768px) {
    .header {
        font-size: 20px;
    }
}
@media screen and (max-width: 480px) {
    .header {
        font-size: 20px;
    }
}
@media screen and (max-width: 414px) {
    .header {
        font-size: 20px;
    }
}
@media screen and (max-width: 384px) {
    .header {
        font-size: 20px;
    }
}