<body>
    <h1 class="title-agile text-center"></h1>
    <div class="content-w3ls">
        <div class="content-top-agile">
            <h2>sign up</h2>
        </div>
        <div class="content-bottom">
            <form action="#" method="post">
                <div class="field-group">
                    <span class="fa fa-user" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="fullname" id="fullname" type="text" value="" placeholder="Full Name" required>
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="email" id="email" type="email" placeholder="Email" required>
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-user" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="username" id="username" type="text" value="" placeholder="username" required>
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="password" id="password" type="Password" placeholder="password" required>
                    </div>
                </div>
                <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="wthree-field">
                        <input name="repassword" id="repassword" type="Password" placeholder="re-enter password" required>
                    </div>
                </div>
                
                <a routerLink="" class="text-right">
                    <i class="material-icons">keyboard_backspace</i> Back
                </a>

                <div class="wthree-field">
                    <input id="saveForm" name="saveForm" type="submit" value="Sign Up" />
                </div>
            </form>
        </div>
    </div>
    <div class="copyright text-center">
        <p style="opacity: 0">
             © 2018 Switch Login Form. All rights reserved | Design by 
            <!-- <a href="http://w3layouts.com">W3layouts</a> -->
        </p>
    </div>
</body>